
  <div class="card m-2 recipe-card">
    <img [src]="element.imagePath" class="card-img-top" alt="Recipe Image">
    <div class="card-body">
      <h5 class="card-title">{{element.title}}</h5>
      <p class="card-text">{{element.description}}</p>
      <div *ngIf="element.ingradient?.length !== 0">
        <hr>
        <div *ngFor="let ingrad of element.ingradient" class="ingredient-item">
          <span class="card-text ingredient-name">{{ingrad.name}}</span>
          <span class="card-text ingredient-amount">{{ingrad.amount}}</span>
          <button class="btn btn-success add-ingredient-btn mt-2" (click)="addToList(ingrad)">Add Ingredient To List</button>
        </div>
       
      </div>
    </div>
  </div>